<div class="space-y-6">
  <!-- sale stats start -->
  <div><app-sale-stats /></div>
  <!-- sale stats end -->

  <!-- revenue breakdown start -->
  <div><app-revenue-statistics /></div>
  <!-- revenue breakdown end -->

  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 xl:grid-cols-3">
    <!-- user retention start -->
    <div><app-user-retention /></div>
    <!-- user retention end -->
    <!-- sale by channel start -->
    <div><app-sale-by-channel /></div>
    <!-- sale by channel end -->
    <!-- sale by country start -->
    <div><app-sale-by-country /></div>
    <!-- sale by country end -->
  </div>
  <!-- top product table start -->
  <div><app-top-product-table /></div>
  <!-- top product table end -->
</div>
