<div class="w-full flex-1">
  <!-- Header -->
  <div class="flex items-center justify-between px-5 py-4 border-b dark:border-gray-800 border-gray-200">
    <div class="flex items-center gap-1.5 text-gray-500 dark:text-gray-400">
      <!-- Icon -->
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
        <path
          d="M5.0625 5.99976L2.0625 9.00003L5.0625 12M12.9375 5.99976L15.9375 9.00003L12.9375 12M10.3329 2.99994L7.66626 14.9999"
          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <p class="text-gray-500 text-sm dark:text-gray-400">{{ title || language.toUpperCase() }}</p>
    </div>

    <div class="flex gap-2">
      <!-- Copy Button -->
      <button (click)="handleCopy()"
        data-tooltip="Copy"
        data-tooltip-placement="top"
        data-tooltip-variant="plain"
        class="inline-flex size-8 items-center justify-center rounded-full border border-gray-200 text-gray-700 dark:border-gray-800 dark:text-gray-400 cursor-pointer bg-transparent"
      >
        @if (!copied) {
          <!-- Copy Icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M11.3253 11.3301H5.67033C5.11804 11.3301 4.67033 10.8824 4.67033 10.3301V4.67513M11.3253 11.3301L11.3253 12.3327C11.3253 12.885 10.8776 13.3327 10.3253 13.3327H3.66772C3.11544 13.3327 2.66772 12.885 2.66772 12.3327V5.67513C2.66772 5.12285 3.11544 4.67513 3.66772 4.67513H4.67033M11.3253 11.3301H12.3321C12.8844 11.3301 13.3321 10.8824 13.3321 10.3301L13.3321 3.66699C13.3321 3.11471 12.8844 2.66699 12.3321 2.66699H5.67033C5.11804 2.66699 4.67033 3.11471 4.67033 3.66699V4.67513"
              stroke="currentColor"
              stroke-width="1.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        }
        @if (copied) {
          <!-- Check Icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M12.5 4.86133L6.2221 11.1392L3.5 8.41713"
              stroke="currentColor"
              stroke-width="1.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        }
      </button>

      <!-- Edit Button -->
      <button (click)="edit.emit()"
        data-tooltip="Edit"
        data-tooltip-placement="top"
        data-tooltip-variant="plain"
        class="inline-flex size-8 items-center justify-center rounded-full border border-gray-200 text-gray-700 dark:border-gray-800 dark:text-gray-400 cursor-pointer bg-transparent"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
        >
          <path
            d="M11.1475 4.57307L13.4264 6.85196M14.0793 3.23283L14.7672 3.92072C15.2066 4.36006 15.2066 5.07237 14.7672 5.51171L7.05192 13.227C6.92135 13.3576 6.76064 13.454 6.58398 13.5078L3.57715 14.4229L4.49227 11.4161C4.54604 11.2394 4.64246 11.0787 4.77303 10.9481L12.4883 3.23283C12.9277 2.79349 13.64 2.79349 14.0793 3.23283Z"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Code Block -->
  <div class="py-4 px-5 max-h-[350px] w-full overflow-y-auto custom-scrollbar">
    <pre
      [ngClass]="'rounded-lg overflow-x-auto p-4 text-white text-sm ' + (showLineNumbers ? 'line-numbers' : '') + ' ' + className">
<code #codeElement [ngClass]="'language-' + language">{{ code }}</code>
    </pre>
  </div>
</div>