<div>
  <app-page-breadcrumb pageTitle="Bar Chart" />
  <div class="space-y-6">

    <div>
      <app-component-card title="Bar Chart 1">
        <app-bar-chart-one />
      </app-component-card>
    </div>

    <div>
      <app-component-card title="Bar Chart 2">
        <app-bar-chart-two />
      </app-component-card>
    </div>

    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">

      <div class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
        <div class="px-6 py-5">
          <h3 class="text-base font-medium text-gray-800 dark:text-white/90">
            Bar Chart 3
          </h3>
        </div>
        <div class="border-t border-gray-100 p-5 sm:p-6 dark:border-gray-800">
          <!-- ====== Bar Chart Two Start -->
          <app-bar-chart-three />
          <!-- ====== Bar Chart Two End -->
        </div>
      </div>

      <app-component-card title="Horizontal Bar Chart">
        <app-bar-chart-four />
      </app-component-card>

      <app-bar-chart-five />

      <app-bar-chart-six />

    </div>
  </div>
</div>