<div
  class="h-full flex flex-col rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]"
>
  <div class="px-6 py-5">
    <h3 class="text-base font-medium text-gray-800 dark:text-white/90">
      Partial Donut with Legend
    </h3>
  </div>
  <div class="flex-1 border-t border-gray-100 p-6 dark:border-gray-800">
    <!-- ====== Donut FortyThree Start -->
    <div class="flex justify-center">
      <div id="chartFortyThree" class="w-full">
        <apx-chart
          [series]="series"
          [chart]="chart"
          [colors]="colors"
          [labels]="labels"
          [plotOptions]="plotOptions"
          [stroke]="stroke"
          [legend]="legend"
          [tooltip]="tooltip"
        ></apx-chart>
      </div>
    </div>
    <!-- ====== Donut FortyThree End -->
  </div>
</div>
