::ng-deep .apexcharts-tooltip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

::ng-deep .apexcharts-tooltip.apexcharts-theme-light {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}
