<!-- ===== Page Wrapper Start ===== -->
<div class="flex h-screen overflow-hidden">
  <!-- ===== Sidebar Start ===== -->
  <app-sidebar-two></app-sidebar-two>
  <!-- ===== Sidebar End ===== -->

  <!-- ===== Content Area Start ===== -->
  <div class="relative flex flex-1 flex-col overflow-x-hidden overflow-y-auto bg-white dark:bg-gray-900">
    
    <!-- Small Device Overlay -->
    @if (isMobileOpen$ | async) {
      <div (click)="closeMobileMenu()"
        class="fixed inset-0 z-999 bg-black/50 transition-opacity duration-300 xl:hidden">
      </div>
    }

    <!-- ===== Header Start ===== -->
    <app-header></app-header>
    <!-- ===== Header End ===== -->

    <!-- ===== Main Content Start ===== -->
    <main>
      <div class="mx-auto max-w-(--breakpoint-2xl) p-4 pb-20 md:p-6 md:pb-6">
        <router-outlet></router-outlet>
      </div>
    </main>
    <!-- ===== Main Content End ===== -->
  </div>
  <!-- ===== Content Area End ===== -->
</div>
<!-- ===== Page Wrapper End ===== -->
