<div class="space-y-6">

  <!-- Stats -->
  <div>
    <app-ai-stats />
  </div>
  <!-- End Stats -->

  <div class="grid grid-cols-1 gap-6 xl:grid-cols-12">
    <div class="xl:col-span-8">
      <!-- User and Revenue Stats -->
      <app-user-and-revenue-stats />
      <!-- End User and Revenue Stats -->
    </div>

    <div class="xl:col-span-4">
      <!-- API Token Usage -->
      <app-api-token-usage />
      <!-- End API Token Usage -->
    </div>
  </div>

  <!-- user and project analytics -->
  <div>
    <app-user-project-analytics />
  </div>
  <!-- end user and project analytics -->

  <!-- ==== recent transactions ==== -->
   <app-recent-transactions />
  <!-- ==== end recent transactions ==== -->
</div>
