<div class="space-y-5">
  <div class="grid grid-cols-1 gap-5 xl:grid-cols-12">
    <div class="xl:col-span-6 2xl:col-span-5">
      <app-total-balance-overview />
    </div>
    <div class="xl:col-span-6 2xl:col-span-7">
      <app-finance-stats />
    </div>
  </div>
  <div class="grid grid-cols-1 gap-5 xl:grid-cols-12">
    <div class="col-span-12 space-y-5 xl:col-span-8">
      <div><app-cashflow-overview /></div>
      <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
        <app-spending-widget />
        <app-quick-send />
      </div>
    </div>
    <div class="col-span-12 xl:col-span-4">
      <app-my-cards />
    </div>
  </div>
  <app-finance-transaction-table />
</div>
